.buttons {
    width: 20px;
    height: 20px;
    padding: 5px;
    border-radius: 50%;
    background-color: white;
    filter: drop-shadow(3px 5px 10px rgba(52, 101, 201, 0.3));
    border: 1px solid white;
    margin-right: 13px;
    margin-top: 18px;
}

.mainImage {
    width: fit-content;
    height: 44.5em;
    display: flex;

    @media screen and (max-width: 1024px) {
        width: 60em;
        height: 31em;
    }

    @media screen and (max-width: 510px) {
        width: 35em;
        height: 20em;
        margin-top: 12em;
    }

    @media screen and (max-width: 391px) {
        width: 30em;
        height: 13em;
        margin-top: 12em;
    }
}

.TitleImg {
    display: flex;

    @media screen and (max-width: 1024px) {
        margin-top: -6.3em;
        width: 25em;
        height: 31em;
    }

    @media screen and (max-width: 510px) {
        width: 18em;
        height: 20em;
    }

    @media screen and (max-width: 390px) {
        width: 12em;
        height: 20em;
    }
}
