.Logo3{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top : -10px;

    @media screen and (max-width: 1024px) {
        width :3.5em;
        height :3.5em;
        margin:0 auto;

    }

    @media screen and (max-width: 510px) {
        width :2.5em;
        height :2.5em;
        margin:0 auto;

    }

    @media screen and (max-width: 390px) {
        width :2em;
        height :2em;
        margin:0 auto;
    }
}